<!-- {{ $usuario->estado_id == 1 ? 'bg-green-500' : 'bg-red-500' }} -->
<main
    class="container mx-auto px-4 py-2 mt-2 space-y-2 pt-16 sm:pt-8 lg:pt-6 pb-12 mb-0 min-h-screen flex flex-col justify-between overflow-hidden">

    <!-- Tarjetas superiores -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 lg:grid-cols-5 gap-4 mt-10">
        <!-- Tarjeta -->
        <div
            class="bg-[#EBE9D6] shadow-lg rounded-lg p-1 max-h-16 flex flex-col items-center border border-solid border-[#059212]">
            <h1 class="text-[12px] font-bold font-poppins text-[#0C0C0C] text-opacity-50">Cantidad de Aprendices</h1>
            <strong class="text-3xl font-extraboldfont-poppins text-[#0C0C0C] text-opacity-50">{{ $cantidadAprendices
                }}</strong>
        </div>
        <div
            class="bg-[#EBE9D6] shadow-lg rounded-lg p-1 max-h-16 flex flex-col items-center border border-solid border-[#059212]">
            <h1 class="text-[12px] font-bold font-poppins text-[#0C0C0C] text-opacity-50">Cantidad de Aprendices en
                Practica</h1>
            <strong class="text-3xl font-extrabold font-poppins text-[#0C0C0C] text-opacity-50">{{
                $aprendicesPorEstado['Productiva'] }}</strong>
        </div>
        <div
            class="bg-[#EBE9D6] shadow-lg rounded-lg p-1 max-h-16 flex flex-col items-center border border-solid border-[#059212]">
            <h1 class="text-[12px] font-bold font-poppins text-[#0C0C0C] text-opacity-50">Cantidad de Aprendices en
                Lectiva</h1>
            <strong class="text-3xl font-extrabold font-poppins text-[#0C0C0C] text-opacity-50">{{
                $aprendicesPorEstado['Lectiva'] }}</strong>
        </div>
        <div
            class="bg-[#EBE9D6] shadow-lg rounded-lg p-1 max-h-16 flex flex-col items-center border border-solid border-[#059212]">
            <h1 class="text-[12px] font-bold font-poppins text-[#0C0C0C] text-opacity-50">Cantidad de Aprendices
                Certificados</h1>
            <strong class="text-3xl font-extrabold font-poppins text-[#0C0C0C] text-opacity-50">{{
                $aprendicesPorEstado['Certificado'] }}</strong>
        </div>
        <div
            class="bg-[#EBE9D6] shadow-lg rounded-lg p-1 max-h-16 flex flex-col items-center border border-solid border-[#059212]">
            <h1 class="text-[12px] font-bold font-poppins text-[#0C0C0C] text-opacity-50">Cantidad de Aprendices
                Cancelados</h1>
            <strong class="text-3xl font-extrabold font-poppins text-[#0C0C0C] text-opacity-50">{{
                $aprendicesPorEstado['Cancelado'] }}</strong>
        </div>
    </div>


    <!-- Botón para agregar aprendiz -->
    <div class="agregar flex items-center justify-center space-x-4 space-y-2 p-1 max-h-14 mt-1">
        <a href="{{ url('aprendiz/create') }}"
            class="flex items-center bg-white hover:bg-gray-200 font-poppins text-[#0C0C0C] text-opacity-50 font-bold py-2 px-6 rounded-lg border border-solid border-[#059212]">
            <img src="{{ asset('images/add-icon.svg') }}" alt="Agregar" class="w-6 h-6 mr-2">
            <h1 class="text-xl font-bold">Agregar Aprendiz</h1>
        </a>
    </div>

    <!-- Loader de carga -->
    <div class="loader hidden absolute inset-0 flex justify-center items-center">
        <div
            class="w-16 h-16 border-4 border-t-4 border-gray-200 border-solid rounded-full animate-spin border-t-green-500">
        </div>
    </div>
    <!-- Tarjetas inferiores -->
    <section>
        <div id="list">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4 gap-2">
                @foreach ($aprendices as $aprendiz)
                <!-- Fila 1 -->
                <div
                    class="flex items-start space-x-4 bg-white shadow-lg rounded-lg p-1 max-h-44 border border-solid border-[#059212]">
                    <!-- Imagen circular -->
                    <div class="w-16 h-16 rounded-full overflow-hidden">
                        <img src="{{ $aprendiz->foto_perfil }}" alt="Usuario" class="w-full h-full object-cover">
                    </div>

                    <!-- Información -->
                    <div class="flex flex-col space-y-2">
                        <!-- Tarjeta 1 -->
                        <div class="bg-white shadow rounded-lg p-2 border border-solid border-[#059212]">
                            <h1 class="text-lg font-bold text-gray-800">{{ $aprendiz->nombre }}</h1>
                        </div>

                        <!-- Tarjeta 2 -->
                        <div class="bg-white shadow rounded-lg p-2 border border-solid border-[#059212]">
                            <h1 class="text-sm font-medium text-gray-600">Estado: {{ $aprendiz->estado->estado }}
                            </h1>
                        </div>

                        <!-- Tarjeta 3 -->
                        <div class="bg-white shadow rounded-lg p-2 border border-solid border-[#059212]">
                            <div class="flex items-center justify-center space-x-4">
                                <div
                                    class="w-8 h-8 bg-[#059212] rounded-full flex items-center justify-center cursor-pointer">
                                    <a href="{{ url('aprendiz.show', $aprendiz->id) }}">
                                        <img src="{{ asset('images/view-icon.svg') }}" alt="Ver" class="w-4 h-4">
                                    </a>
                                </div>
                                <div
                                    class="w-8 h-8 bg-[#059212] rounded-full flex items-center justify-center cursor-pointer">
                                    <a href="{{ url('aprendiz.edit', $aprendiz->id) }}">
                                        <img src="{{ asset('images/edit-icon.svg') }}" alt="Editar" class="w-4 h-4">
                                    </a>
                                </div>
                                <div
                                    class="w-8 h-8 bg-[#059212] rounded-full flex items-center justify-center cursor-pointer">
                                    <a href="javascript:;" data-fullname="{{ $aprendiz->nombre }}">
                                        <img src="{{ asset('images/delete-icon.svg') }}" alt="Eliminar" class="w-4 h-4">
                                    </a>
                                    <form action="{{ url('aprendiz.delete', $aprendiz->id) }}" method="POST"
                                        style="display: none">
                                        @csrf
                                        @method('delete')
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @endforeach
            </div>
        </div>

        <div id="pagination">
            <div class="flex items-center justify-center space-x-4 space-y-2 p-1 max-h-12 mb-4">
                <div
                    class="flex items-center bg-white hover:bg-gray-200 font-poppins text-[#0C0C0C] text-opacity-50 font-bold py-2 px-6 rounded-lg border border-solid border-[#059212]">
                    @if ($aprendices->hasPages())
                    <nav role="navigation" aria-label="Pagination Navigation"
                        class="flex items-center justify-center space-x-4">
                        @if ($aprendices->onFirstPage())
                        <span class="cursor-not-allowed">
                            <img src="{{ asset('images/izquierda-icong.svg') }}" alt="Izquierda" class="w-4 h-4">
                        </span>
                        @else
                        <a href="{{ $aprendices->previousPageUrl() }}">
                            <img src="{{ asset('images/izquierda-icon.svg') }}" alt="Izquierda" class="w-4 h-4">
                        </a>
                        @endif

                        <span class="text-gray-700 font-bold">
                            Página {{ $aprendices->currentPage() }} de {{ $aprendices->lastPage() }}
                        </span>

                        @if ($aprendices->hasMorePages())
                        <a href="{{ $aprendices->nextPageUrl() }}">
                            <img src="{{ asset('images/derecha-icon.svg') }}" alt="derecha" class="w-4 h-4">
                        </a>
                        @else
                        <span class="cursor-not-allowed">
                            <img src="{{ asset('images/derecha-icong.svg') }}" alt="derecha" class="w-4 h-4">
                        </span>
                        @endif
                    </nav>
                    @endif
                </div>
            </div>
        </div>

    </section>

</main>


@forelse ($aprendices as $aprendiz)
<div class="flex items-start space-x-4 bg-white shadow-lg rounded-lg p-1 max-h-44 border border-solid border-[#059212]">
    <!-- Imagen circular -->
    <div class="w-16 h-16 rounded-full overflow-hidden">
        <img src="{{ $aprendiz->foto_perfil }}" alt="Usuario" class="w-full h-full object-cover">
    </div>

    <!-- Información -->
    <div class="flex flex-col space-y-2">
        <!-- Tarjeta 1 -->
        <div class="bg-white shadow rounded-lg p-2 border border-solid border-[#059212]">
            <h1 class="text-lg font-bold text-gray-800">{{ $aprendiz->nombre }}</h1>
        </div>

        <!-- Tarjeta 2 -->
        <div class="bg-white shadow rounded-lg p-2 border border-solid border-[#059212]">
            <h1 class="text-sm font-medium text-gray-600">Estado: {{ $aprendiz->estado->estado }}
            </h1>
        </div>

        <!-- Tarjeta 3 -->
        <div class="bg-white shadow rounded-lg p-2 border border-solid border-[#059212]">
            <div class="flex items-center justify-center space-x-4">
                <div class="w-8 h-8 bg-[#059212] rounded-full flex items-center justify-center cursor-pointer">
                    <a href="{{ url('aprendiz.show', $aprendiz->id) }}">
                        <img src="{{ asset('images/view-icon.svg') }}" alt="Ver" class="w-4 h-4">
                    </a>
                </div>
                <div class="w-8 h-8 bg-[#059212] rounded-full flex items-center justify-center cursor-pointer">
                    <a href="{{ url('aprendiz.edit', $aprendiz->id) }}">
                        <img src="{{ asset('images/edit-icon.svg') }}" alt="Editar" class="w-4 h-4">
                    </a>
                </div>
                <div class="w-8 h-8 bg-[#059212] rounded-full flex items-center justify-center cursor-pointer">
                    <a href="javascript:;" data-fullname="{{ $aprendiz->nombre }}">
                        <img src="{{ asset('images/delete-icon.svg') }}" alt="Eliminar" class="w-4 h-4">
                    </a>
                    <form action="{{ url('aprendiz.delete', $aprendiz->id) }}" method="POST" style="display: none">
                        @csrf
                        @method('delete')
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@empty
No found 🤒
@endforelse


src="{{ asset('images/' .  $usuario->foto_perfil) }}"

<div id="pagination">
    <div class="flex items-center justify-center space-x-4 space-y-2 p-1 max-h-12 mb-4">
        <div
            class="flex items-center bg-white hover:bg-gray-200 font-poppins text-[#0C0C0C] text-opacity-50 font-bold py-2 px-6 rounded-lg border border-solid border-[#059212]">
            @if ($aprendices->hasPages())
                <nav role="navigation" aria-label="Pagination Navigation"
                    class="flex items-center justify-center space-x-4">
                    @if ($aprendices->onFirstPage())
                        <span class="cursor-not-allowed">
                            <img src="{{ asset('images/izquierda-icong.svg') }}" alt="Izquierda"
                                class="w-4 h-4">
                        </span>
                    @else
                        <a href="{{ $aprendices->previousPageUrl() }}">
                            <img src="{{ asset('images/izquierda-icon.svg') }}" alt="Izquierda"
                                class="w-4 h-4">
                        </a>
                    @endif

                    <span class="text-gray-700 font-bold">
                        Página {{ $aprendices->currentPage() }} de {{ $aprendices->lastPage() }}
                    </span>

                    @if ($aprendices->hasMorePages())
                        <a href="{{ $aprendices->nextPageUrl() }}">
                            <img src="{{ asset('images/derecha-icon.svg') }}" alt="derecha"
                                class="w-4 h-4">
                        </a>
                    @else
                        <span class="cursor-not-allowed">
                            <img src="{{ asset('images/derecha-icong.svg') }}" alt="derecha"
                                class="w-4 h-4">
                        </span>
                    @endif
                </nav>
            @endif
        </div>
    </div>
</div>


public function index()
    {
            $aprendices = Usuario::select('usuarios.*') // Asegura que todos los campos de usuarios sean seleccionados
            ->with(['estado', 'perfiles']) // Carga las relaciones necesarias
            ->whereHas('perfiles', function ($query) {
                $query->where('perfil', 'aprendiz'); // Filtra usuarios con el perfil 'aprendiz'
            })
            ->where('estado_id', 1)
            ->paginate(8);
            //dd($aprendices->toArray());

            $cantidadAprendices = Usuario::whereHas('perfiles', function ($query) {
                $query->where('perfil', 'aprendiz');
            })
            ->where('estado_id', 1)
            ->count();

            $aprendicesPorEstado = Aprendiz::selectRaw('estado_aprendiz_id, COUNT(*) as cantidad')
            ->groupBy('estado_aprendiz_id') // Agrupar por estado_aprendiz_id
            ->with('estadoAprendiz') // Cargar los datos del estado
            ->get()
            ->mapWithKeys(function ($item) {
                return [$item->estadoAprendiz->nombre => $item->cantidad];
            });
            //dd($aprendicesPorEstado);

            return view('aprendiz.index', compact('aprendices', 'cantidadAprendices', 'aprendicesPorEstado'));
    }
